<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.patrick.sneakerkillermodel.mapper.OrderMapper">

    <select id="countByUserIdAndItemId" resultType="Integer">
        select count(*)
        from order_info
        where user_id = #{userId} and item_id = #{itemId}
    </select>

    <insert id="add" parameterType="Order">
        insert into order_info(id, user_id, item_id, shoe_size, item_count, item_price, status, create_time)
        values (#{id}, #{userId}, #{itemId}, #{shoeSize}, #{itemCount}, #{itemPrice}, #{status}, now())
    </insert>

</mapper>